@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
  font-family: "Inter", sans-serif;
}
.h1, h1 {
    font-size: 26px !important;
    margin: 24px 0;
}
.btn-outline-primary {
    color: black;
    border-color: black;
    padding: 8px 44px;
}